/**
 * Site header
 */
.site-header {
    min-height: 5em;
    padding: 1.8em 0 0;
    text-align: center;
    background: url(/assets/img/farbox_free_image.jpg) $brand-color center center no-repeat;
    background-size: cover;
    // Positioning context for the mobile navigation icon
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 1px darken($brand-color, 25%);
    color: #fff;
}

.site-title {
    font-size: 1.8em;
    line-height: 1.8;
    letter-spacing: -1px;
    margin-bottom: 0;

    &,
    &:visited {
        color: #fff;
    }

    &:hover {
        text-decoration: none;
        border-bottom: none;
    }
}

.site-description {
    font-size: $small-font-size - 2;
    line-height: 1;
    color: #fff;
}

.site-nav {
    margin-top: 2em;
    line-height: 1.5;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #fff;
        line-height: 1.4;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    // @include media-query($on-palm) {
    //     position: absolute;
    //     top: 9px;
    //     right: 30px;
    //     background-color: $background-color;
    //     border: 1px solid $grey-color-light;
    //     border-radius: 5px;
    //     text-align: right;

    //     .menu-icon {
    //         display: block;
    //         float: right;
    //         width: 36px;
    //         height: 26px;
    //         line-height: 0;
    //         padding-top: 10px;
    //         text-align: center;

    //         > svg {
    //             width: 18px;
    //             height: 15px;

    //             path {
    //                 fill: $grey-color-dark;
    //             }
    //         }
    //     }

    //     .trigger {
    //         clear: both;
    //         display: none;
    //     }

    //     &:hover .trigger {
    //         display: block;
    //         padding-bottom: 5px;
    //     }

    //     .page-link {
    //         display: block;
    //         padding: 5px 10px;
    //     }
    // }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0 0.8em;
    border-top: 1px solid $grey-color-light;
    font-size: 0.9em;
    color: $grey-color;
    background-color: #fff;
}

.social-media-list {
    text-align: center;

    a {
        margin: 0 0.5em;
        &:hover {
            border-bottom: none;

            & .icon svg path{
                transition: all 0.2s ease-in-out;
            }

            & .icon--github svg path{
                fill: #333;
            }

            & .icon--twitter svg path{
                fill: #55acee;
            }

            & .icon--weibo svg path{
                fill: #E31C34;
            }
        }

        .icon > svg {
            width: 1.6em;
            height: 1.6em;
        }
    }
}

.site-motto {
    margin: 1.8em 0 0;
    font-size: 0.9em;
    text-align: center;
}

.copyright {
    font-size: 0.8em;
    text-align: center;
}


/**
 * Page content
 */
.page-content {
    margin-top: 9.3em;
    padding: $spacing-unit 0;
    background-color: #fff;
    box-shadow: 0 -10px 10px -10px rgba(138, 74, 30, 0.4);
}

.page-heading {
    display: none;
    margin-bottom: 0;
    border-bottom: 3px double #e8e8e8;
    font-size: 1.3em;
    line-height: 1.8;
}

.post-list {
    margin-left: 0;
    padding: 0.5em 1em;
    list-style: none;

    > li {
        margin: $spacing-unit 0;
    }

    h2 {
        margin-bottom: 0;
        font-size: 1.5rem;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    line-height: 1;
    font-size: 1.5rem;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    border-bottom: 3px double #e8e8e8;
}

.post-title {
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 2em;
    }
}

.post-content {
    padding-bottom: $spacing-unit/2;
    border-bottom: 3px double #e8e8e8;

    h2 {
        font-size: 1.8em;

        @include media-query($on-laptop) {
            font-size: 1.8em;
        }
    }

    h3 {
        font-size: 1.6em;

        @include media-query($on-laptop) {
            font-size: 1.6em;
        }
    }

    h4 {
        font-size: 1.4em;

        @include media-query($on-laptop) {
            font-size: 1.4em;
        }
    }

    h5, h6 {
        font-size: 1.2em;

        @include media-query($on-laptop) {
            font-size: 1.2em;
        }
    }

    /* 在文章中，应该还原 ul 和 ol 的样式 */
    ul {
      margin-left: 1.3em;
      list-style: square;
    }

    ol {
      list-style: decimal;
      margin-left: 1.9em;
    }

    li ul, li ol, ul ul, ul ol, ol ul, ol ol{
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 1em;
    }

    li ul, ul ul, ol ul{
      list-style: circle;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 1em auto;
    }

}
